;; This file declares plugin templates for scittle-kitchen.
;; It is used by generate_plugins.clj to generate plugin directories, stubs, and deps.
{#_#_:emmy {:path "plugins/emmy"
        :namespaces [emmy.env]
        :deps {org.mentat/emmy {:mvn/version "0.30.0"}}}
 :mathbox {:path "plugins/mathbox"
           :namespaces [mathbox.core mathbox.primitives]
           :deps {org.mentat/mathbox.cljs {:mvn/version "0.2.0"}}
           :depends-on #{:scittle.reagent}}
 :tmdjs {:path "plugins/tmdjs"
         :namespaces [tech.v3.dataset]
         :deps {com.cnuernber/tmdjs {:mvn/version "2.000-beta-10"}}}}
