;; Used by build.clj to generate plugin directories, code, and deps.
{:clara-rules {:namespaces [clara.rules]
               :deps {com.cerner/clara-rules {:mvn/version "0.24.0"}}}
 :instaparse {:namespaces [instaparse.core
                           instaparse.transform]
              :deps {instaparse/instaparse {:mvn/version "1.5.0"}}}
 :dataspex {:namespaces [dataspex.core
                         dataspex.hiccup
                         dataspex.panel
                         dataspex.ui
                         dataspex.icons
                         phosphor.icons]
            :deps {no.cjohansen/dataspex {:mvn/version "2025.06.8"}
                   no.cjohansen/phosphor-clj {:mvn/version "2025.04.16"}}
            :depends-on #{:scittle.datascript}}
 :emmy {:namespaces [emmy.env]
        :deps {org.mentat/emmy {:mvn/version "0.32.0"}}}
 :mathbox {:namespaces [mathbox.core mathbox.primitives]
           :deps {org.mentat/mathbox.cljs {:mvn/version "0.2.2"}}
           :depends-on #{:scittle.reagent}}
 :geom {:namespaces [thi.ng.geom.viz.core
                     thi.ng.geom.svg.core
                     thi.ng.geom.vector
                     thi.ng.color.core
                     thi.ng.math.core]
        :deps {thi.ng/geom {:mvn/version "1.0.1"}}}
 :tmdjs {:namespaces [tech.v3.dataset]
         :deps {com.cnuernber/tmdjs {:mvn/version "2.002"}
                ;; see https://github.com/cnuernber/tmdjs/issues/14
                com.cnuernber/ham-scripted {:git/url "https://github.com/cnuernber/ham-scripted"
                                            :sha "36b657d7bdf3d6e168cb083897efbfa9021333da"}}}}
